/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Schoolbell&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Nunito+Sans:wght@400;700&family=Schoolbell&family=Dancing+Script:wght@400;700&display=swap'); */

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts stored in Repository */
@font-face {
  font-family: 'Rob Graves';
  src: url('/fonts/Robgraves-lKYV.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

/* Global Styling (Used to have footer fixed at the bottom of the viewport or content) */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif; /* Use the default sans-serif font, not Montserrat */
}

main {
  flex: 1;
}

/* Header Cursive Font */
.cursiveFont {
  font-family: 'Dancing Script', cursive;
}

/* Chalk-like Font */
.font-schoolbell {
  font-family: 'Schoolbell', cursive;
}

/* Hamburger Mobile Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #e8e8eb;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Carousel */
.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

/* Logo Animation */
.homeLogo {
  animation: fadeIn 5s;
}
#mobileMenuButton {
  display: none;
}

@media (max-width: 768px) {
  #mobileMenuButton {
    display: block;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2s forwards;
}

.fade-out {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* React-Image-Gallery Styles */
.gallery-overlay {
  position: fixed; /* Full-screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  z-index: 10; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the gallery vertically and horizontally */
}

.gallery-modal {
  width: 80%; /* Adjust based on your preference */
  max-width: 1000px; /* Maximum size of the gallery */
  z-index: 20;
}

/* Custom Element Classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Scrollbar */

/* Custom scrollbar styles */
.modal-content::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

.modal-content::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 8px; /* Rounds the track */
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind's gray-400 */
  border-radius: 8px; /* Rounds the thumb */
  border: 3px solid #e5e7eb; /* Adds space around thumb */
}

/* Firefox scrollbar styles */
.modal-content {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #e5e7eb;
}
